<html ng-app="nameApp">
	<head>
		<title>13foo</title>
		<meta charset="utf-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
		<script>
			var nameApp=angular.module('nameApp' , []);
			nameApp.controller('NameCtrl' , function($scope){
				$scope.firstname="jon";
				$scope.lastname="Snow";});
		</script>
	</head>
	
	<body ng-controller="NameCtrl">
		First Name: <input type="text" ng-model="firstname"/><br><br>
		Last Name: <input type="text" ng-model="lastname"/><br><br>
		Hello {{firstname}} {{lastname}}		
	</body>
</html>